<footer class="footer">
    <mat-divider></mat-divider>
    <div class="container">
        <div fxLayout="row" fxLayoutAlign="space-between" class="footer__text">
            <p>Created by
                <a href="https://github.com/dejuata" target="_blank">Juan David Pino</a>
            </p>
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon color="warn" class="footer__icon">favorite</mat-icon>
                <span>Angular</span>
            </div>
        </div>  
    </div>
</footer>